{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="index-section">
    <h2>Добро пожаловать на Хостинг для изображений!</h2>
    <p>Здесь вы можете загружать, скачивать и просматривать изображения, а также удалять их из галереи и размещать
        ссылки на них на страницах вашего сайта.</p>
    <div>
        <a href="/upload" class="btn btn-blue">Загрузить изображение</a>
        <a href="/images" class="btn btn-gray">Посмотреть галерею</a>
    </div>
</div>
{% endblock %}